.b-splash {
    background: blue;
    padding: 120px 0;
}

.b-splash__container {
    position: relative;
}

.b-splash__logo {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 3px solid gray;
    border-radius: 50%;
}


.b-splash__copy {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    text-align: center;
    font-family: Vollkorn;
    font-weight: bold;
    color: white;

}

.b-splash__copy-container {
    display: inline-block;
    text-align: left;
}

.b-splash__copy-1 {
    font-size: 2rem;
    line-height: 0;
}

.b-splash__copy-2 {
    font-size: 4.2rem;
}

.b-main-cta {

}

.b-main-cta__copy {

}

.b-main-cta__button {

}

.b-main-cta__button--down {

}

.b-main-cta__button--success {

}


.b-about {

}

.b-about__copy {

}

.b-about_img {

}


.b-map {

}

.b-map__heading {

}

.b-map_copy {

}


.b-quote {

}

.b-quote__copy {

}

.b-quote__author {

}


.b-alt-cta {

}

.b-alt-cta__copy {

}

.b-alt-cta__input {

}

.b-alt-cta__button {

}


.b-socials {

}

.b-socials__copy {

}

.b-socials__anchor {

}

.b-socials__icon {

}