@import 'src/colors.less';
@import 'global.less';
@import 'src/general.less';

@sectionPadding: 15px;

@color_primary: @color_teal;
@color_secondary: @color_purple_lite_2;
@color_tertiary: @color_red_lite_2;
@color_off: @color_white;


.b-button {
    font-size: 1rem;
    border: 1px solid @color_gray;
    border-radius: 3px;
    padding: 0 15px;
    line-height: 2rem;
    text-decoration: none;
    cursor: pointer;
    min-width: 90px;

    &:hover {
        -webkit-filter: hue-rotate(45deg);
        filter: hue-rotate(45deg);
    }

    &:disabled:hover {
        opacity: 1;
    }

    &:disabled {
        background: @color_gray_lite;
    }
}

.b-copy {
    line-height: 1.6rem;
    font-size: 1rem;
}









.b-fl, .b-sec {
    color: #474747;
    background-size: cover;
    padding: 70px 50px 85px 50px;

    .b-stats__container {
        background: white;
        padding-top: 60px;
        padding-bottom: 45px;
        border-radius: 1px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.5)
    }

    .b-stats__number {
        color: #333333;
    }
}

.b-fl {
    background-image: url('assets/fl.jpg');


    .b-stats__heading {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}

.b-sec {
    background-image: url('assets/sec.jpg');

    .b-stats-heading {
        font-size: 1.3rem;
        margin: 25px auto 35px auto;
        width: 4.2rem;
        height: 4.2rem;
        line-height: 4.3rem;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.2);
        opacity: 0.85;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);

        &.alabama {
            color: #ff6801;
            background: #1974d2;
        }

        &.georgia {
            color: #000000;
            background: #de291e;
        }

        &.texas {
            color: #fdfbfc;
            background: #710001;
        }
    }
}



.b-alt-cta {
    text-align: center;
    padding: 60px @sectionPadding;
    background: @color_gray_lite;
    border-top: 1px solid @color_gray;
    border-bottom: 1px solid @color_gray;
}

.b-stats__copy {
    margin: 0 auto;
    max-width: 1200px;
    line-height: 1.7rem;
    padding: 0 40px;
}



.b-main-cta {
    background: @color_off;
    padding: 60px @sectionPadding;
    border-bottom: 1px solid @color_gray_lite;
}

.b-main-cta__container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.b-main-cta__copy {
    text-align: left;
}

.b-main-cta__button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: @color_secondary;
    color: white;
    font-size: 1.5rem;
    border-color: rgba(0,0,0,0.2);


    &:hover {
        color: white;
    }
}

.b-main-cta__button--down {

}

.b-main-cta__button--success {

}



.b-about {
    background: @color_off;
    padding: 60px @sectionPadding;
}

.b-about__container {
    max-width: 900px;
    margin: 0 auto;

    .clearfix;
}

.b-about__img {
    width: 225px;
    height: 225px;
    margin-top: 15px;
    margin-right: 50px;
    float: left;
    border: 1px solid @color_purple_lite_1;
    border-radius: 50%;
    overflow: hidden;

    img {
        max-width: 100%;
    }
}

.b-about__copy {
    padding: 30px 0;
    margin-left: 275px;
}



.b-map {
    padding: 30px;
    background: @color_purple_lite_2;
}

.b-map__container {
    padding: 20px;
    border: 1px solid @color_gray_dark;
    box-sizing: border-box;
    border-radius: 3px;
    background: @color_off;
    text-align: center;
}

.b-map__heading {

}

.b-map__copy {

}

.b-map__svg {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 900px;
}


.b-quote {
    padding: 60px @sectionPadding;
    background: @color_teal_lite_1;
    color: white;
}

.b-quote__container {
    margin: 0 auto;
    max-width: 900px;
    text-align: right;
}

.b-quote__copy {
    text-align: left;
    line-height: 1.8rem;
    font-size: 1.3rem;
}

.b-quote__author {
    display: inline-block;

    padding: 15px;
}


.b-socials {
    padding: 60px @sectionPadding 90px @sectionPadding;
    background: @color_white;
    text-align: center;
    border-top: 1px solid @color_gray_dark;
}

.b-socials__copy {
    font-size: 2rem;
}

.b-socials__icons {
    display: inline-block;
    margin-top: 30px;
}

.b-socials__anchor {
    display: inline-block;
    margin: 0 15px;
}

.b-socials__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: @color_white;
    font-size: 35px;

    & i:before {
        line-height: 60px;
    }

    &.email {
        background: #d14836;
    }

    &.twitter {
        background: #00aced;
    }

    &.facebook {
        background: #3b5998;
    }

    &.github {
        background: #767676;
    }
}



.b-copyright {
    padding: 40px @sectionPadding;
    background: @color_secondary;
}


.b-citations {
    padding: 60px @sectionPadding 120px @sectionPadding;
    background: @color_teal_lite_1;
}

.b-citations__container {
    margin: 0 auto;
    max-width: 900px;
}

.b-citations__header {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}

.b-citations__citation {
    color: white;
    margin-bottom: 30px;
}

.b-citations__link {
    display: block;
    margin-top: 10px;
    color: inherit;
    word-wrap: break-word;
}


.b-state {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3)
}

.b-state__container {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
}

.b-state__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    width: 100%;
    margin: auto;

    height: 300px;
    line-height: 1.8rem;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

.b-state__loading {
    text-align: center;
}

.b-state__copy {
    display: none;
    text-align: center;
    padding: 100px 15px 0 15px;
}

.b-state__bottom-copy {
    margin-top: 15px;
}

.b-state__success {
    color: green;
}

.b-state__error {
    color: red;
}

#loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}