<div id="_posts" style="display: none">

{% for post in site.posts limit:5 %}

    <div id="_post_{{forloop.index0}}" class="_post">
        <div class="_post.content">{{ post.content }}</div>
        <div class="_post.excerpt">{{ post.excerpt }}</div>
    </div>


{% endfor %}

</div>

<script>
window.posts = [
{% for post in site.posts limit:5 %}
    {
        title: "{{ post.title }}",
        date: "{{ post.date | date: "%b %-d, %Y" }}",
        username: "{{ post.username }}",
        url: "{{ post.url | prepend: site.url }}",
        id: "{{ post.id }}"
    },
{% endfor %}
]

{% for post in site.posts %}

    {% if post.title == page.title %}

window.postIndex = {{forloop.index0}}

    {% endif %}

{% endfor %}
</script>

<script src="{{ site.url }}/public/dist/bundle.js?{{site.time | date: '%s%N'}}"></script>
