<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- General page specifics -->
    <title>Connected GNV, community internet and cable independence</title>

    <meta name="description" content="Join the fight for better rates and more reliable internet and cable in Gainesville, FL.">
    <meta name="keywords" content="Connected, Gainesville, gigabit, fiber, internet, broadband, florida">

    <!-- Facebook page specifics -->
    <meta property="og:title" content="Connected GNV, community internet and cable independence">
    <meta property="og:description" content="Join the fight for better rates and more reliable internet and cable in Gainesville, FL.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="ConnectedGNV">
    <meta property="og:image" content="assets/logo.gradient.bg.png">

    <!-- Twitter page specifics -->
    <meta name="twitter:title" content="Connected GNV, community internet and cable independence">
    <meta name="twitter:description" content="Join the fight for better rates and more reliable internet and cable in Gainesville, FL.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://connectedgnv.org">
    <meta name="twitter:image" content="assets/logo.gradient.bg.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Chris Dolphin">


    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/icons/manifest.json">
    <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#5bbad5">


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <!--<link href="styles.less" rel="stylesheet/less" type="text/css">-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.js"></script>-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37560411-8', 'auto');
        ga('send', 'pageview');

    </script>

</head>
